<div style="margin: 50px 50px 50px 50px;"><h1>LIVE TRADING</h1>   <br><br>

  <nav>
    <a class="btn btn-default" routerLink="/market" routerLinkActive="active">Market</a>
    <a class="btn btn-default" routerLink="/traders" routerLinkActive="active">Traders</a>
  </nav>
  <br><br>

  <router-outlet></router-outlet>
</div>
